.first{
    width: 200px;
    height: 250px;
    overflow: hidden;
    transform: rotate(120deg);
}
.two{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
}
.three{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    background: red;
}
